<app-navbar></app-navbar>

<section class="hero">
  <div class="hero-content">

    <h1>ATCP Song Bench Journey</h1>

    <h2>
      Transition to your next project as smooth as possible.
    </h2>

    <p>
      Begin your bench journey by completing your milestone
      activities. Track your progress and learn more details
      on how to complete each journey.
    </p>

  </div>
</section>

<section class="milestones">

  <div class="milestone-header">

    <h2>Journey Milestones</h2>

    <div class="progress-counter">
      {{ getCompletedCount() }} / {{ tasks.length }}
      Tasks completed
    </div>

  </div>

  <app-task-grid [tasks]="tasks"></app-task-grid>

</section>
