<header class="header">
  <h2>ATCP SONG Website</h2>
</header>
<app-navbar></app-navbar>
<!-- VIDEO MODAL -->
<div class="video-modal" *ngIf="showVideoModal">
  <div class="modal-content">
    <button class="close-btn" (click)="closeModal()">✖</button>
    <video controls autoplay>
      <source src="assets/videos/v3_UIUX Credentials_PPT.mp4" type="video/mp4">
    </video>
  </div>
</div>

<main class="main">
<section id="home" class="video-container">
  <video controls>
    <source src="assets/videos/v3_UIUX Credentials_PPT.mp4" type="video/mp4">
  </video>
</section>

<section class="content-layout">
<!-- LEFT NAVIGATION -->
  <aside class="side-nav">
    <a routerLink="/atcp-song">
      ATCP Song Leadership
    </a>
    <br><br>
    <a href="https://engage.cloud.microsoft/main/groups/eyJfdHlwZSI6Ikdyb3VwIiwiaWQiOiI5NDcyMjk4MTg4OCJ9/all" target="_blank">
      ATCP Song Viva Engage
    </a>
    <br><br>
    <a routerLink="/song3">
      ATCP Song Technologies
    </a>
    <br><br>
    <a routerLink="/song-bench">
      ATCP Song Bench
    </a>
  </aside>
<!-- RIGHT CONTENT -->
<div class="content-area">
    <a routerLink="/aboutus">
      About Us
    </a>
    <br><br>
    <a routerLink="/announcement">
      Announcement
    </a>
    <br><br>
    <a routerLink="/contactus">
      Contact Us
    </a>
    <br><br>
    <a routerLink="/other-links">
      Other useful links
    </a>
</div>
<!-- RIGHT SIDE ANIMATION -->
<div class="animation">
  <img src="assets/images/create_cv.png" alt="animation">
</div>
</section>
 
</main>

<section class="pre-footer">
  <h2>Explore More</h2>
    <p>Quick access to resources</p>
</section>

<footer class="footer">
<!-- LEFT NAVIGATION -->
  <p>© 2026 ATCP Song. All rights reserved.</p>
</footer>
